* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-family: "Questrial", sans-serif;
}
body {
  background-color: hsl(212, 45%, 89%);
}
.wrapper {
  padding: 20px;
  max-width: 265px;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}

.qr-code {
  width: 265px;
  height: 265px;
  background-image: url(./images/image-qr-code.png);
  background-size: cover;
  border-radius: 15px;
}

h1 {
  padding: 30px 0 5px 0;
  font-size: 23.5px;
  color: hsl(218, 44%, 22%);
}

h3 {
  padding: 20px 0 25px 0;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
